name: Weekly Email Report

on:
  schedule:
    # Every Friday at 17:50 IST (12:20 UTC)
    - cron: '10 7 * * *'

  workflow_dispatch:

jobs:
     
  send_report:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          pip install schedule pandas openpyxl

      - name: Run weekly mail script
        #env:
          #OUTLOOK_EMAIL: ${{ secrets.OUTLOOK_EMAIL }}
          #OUTLOOK_APP_PASSWORD: ${{ secrets.OUTLOOK_APP_PASSWORD }}
        run: python Office_mail.py
